body{
    background: darkslateblue;
}


.imgBox{
    background-image: url('https://randomuser.me/api/portraits/men/13.jpg');
    background-repeat:no-repeat;
    position: relative;
    height: 145px;
    top:8px;
    left:8px;
   cursor: pointer;
    width: 145px;
}

.whiteBox{
    display: inline-block;
    height: 145px;
    width: 145px;
    margin: 10px;;
    background-color: white;
    border: 3px solid black;
}


.hold{
    border: 5px solid red;
}
.hide{
  display: none;
}

.dashed{
    background-color: grey;
    border-style: dashed;
}